@model IEnumerable<Parrot>

@{
    bool parrotAdded = TempData["AnimalAdded"] == null ? false : (bool)TempData["AnimalAdded"];

    if (parrotAdded)
    {
        <div class="alert alert-success" role="alert">New Parrot Added</div>
    }

    var errorMessage = TempData["ErrorMessage"];

    if (errorMessage != null)
    {
        <div class="alert alert-danger" role="alert">@errorMessage</div>
    }
}

<div class="row">
    <div class="col text-center">
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>Claws</th>
                <th>Sound</th>
            </thead>
            <tbody>
                @foreach (var parrot in Model)
                {
                    <tr>
                        <td>@parrot.Id</td>
                        <td>@parrot.GetType().Name</td>
                        <td>@parrot.Name</td>
                        <td>@parrot.Claws</td>
                        <td>@parrot.Sound</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-s12 col-m6 col-l4">
        <a class="btn btn-primary" asp-controller="Parrots" asp-action="Add">Add New Parrot</a>
    </div>
</div>
