@model Cat
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1>@Model.Name</h1>
            <p>@Model.Name is a @Model.GetType().Name.ToLower().</p>
            <p>@Model.Name has @Model.Legs legs and makes a @Model.Sound.ToLower() sound.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-controller="Animals" asp-action="List">Back to Animal List</a>
        </div>
    </div>
</div>