@model IEnumerable<AnimalMagic.Entity.Dog>

@{
    bool dogAdded = TempData["AnimalAdded"] == null ? false : (bool)TempData["AnimalAdded"];

    if (dogAdded)
    {
        <div class="row">
            <div class="alert alert-success">
                <p>New Dog Added</p>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col text-center">
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>Legs</th>
                <th>Sound</th>
            </thead>
            <tbody>
                @foreach (var dog in Model)
                {
                    <tr>
                        <td>@dog.Id</td>
                        <td>@dog.GetType().Name</td>
                        <td>@dog.Name</td>
                        <td>@dog.Legs</td>
                        <td>@dog.Sound</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-s12 col-m6 col-l4">
        <a class="btn btn-primary" asp-controller="Dogs" asp-action="Add">Add New Dog</a>
    </div>
</div>
